@media screen and (max-width: 480px), screen and (max-width: 768px) {
  .header-menu__svg {
    display: none;
  }
  .header > .container {
    height: 60px;
    border-bottom: 1px solid #ececec;
  }
  .header-nav, .header-menu {
    display: block;
  }
  .header-nav__link {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .header-nav__span {
    color: #2196f3;
  }
  .header-menu {
    display: block;
  }
  .header-menu__item > :hover, .header-menu__item > :focus {
    color: #2196f3;
  }
  .header-menu__item > :hover-menu__link, .header-menu__item > :focus-menu__link {
    display: block;
  }
  .header-menu__item_activ::after {
    display: none;
  }
  .section-heroo {
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url();
    background-size: cover;
    background-color: #2f303a;
    padding-top: 118px;
    padding-bottom: 188px;
  }
  .section-heroo__titel {
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 26px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #fcfcfc;
    margin-bottom: 30px;
  }
  .section-heroo__button {
    width: 250px;
    height: 50px;
    background: #2196f3;
    padding: 10px 32px;
  }
  .section-content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-content br {
    display: none;
  }
  .section-content__list {
    margin-bottom: 0;
    margin-top: 0;
  }
  .section-content__item {
    width: 450px;
  }
  .section-content__item::before {
    content: "";
    display: inline-block;
    width: 450px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .section-content__slogan {
    margin-bottom: 10px;
  }
  .section-content__text {
    margin-right: 30px;
  }
  .section-content__item:nth-child(1):before {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../photo/icons.svg/antenna.svg);
  }
  .section-content__item:nth-child(2):before {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../photo/icons.svg/clock.svg);
  }
  .section-content__item:nth-child(3):before {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../photo/icons.svg/diagram.svg);
  }
  .section-content__item:nth-child(4):before {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../photo/icons.svg/astronaut.svg);
  }
  .section-content__list .section-content__item {
    margin-bottom: 30px;
  }
  .section-content__list .section-content__item:last-child {
    margin-bottom: 0px;
  }
  .section-content__slogan {
    text-align: center;
    width: 450px;
    height: 16px;
  }
  .section-content__text {
    width: 450px;
    height: 50px;
    color: #757575;
  }
  .section-aside {
    background: #f5f4fa;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-aside__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 50px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: #212121;
  }
  .section-aside__menu {
    margin-top: 0;
    margin-bottom: 0;
  }
  .section-aside__list {
    width: 450px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
    display: inline-block;
  }
  .section-aside__list:last-child {
    margin-bottom: 0px;
  }
  .section-aside__box {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .section-aside__subtitle {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .section-aside__text {
    margin-top: 10px;
    margin-bottom: 16px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .section-aside__items {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
    list-style: none;
  }
  .section-aside__item {
    margin-right: 10px;
  }
  .section-aside__item:last-child {
    margin-right: 0px;
  }
  .section-aside__item > .section-aside__link:hover, .section-aside__item > .section-aside__link:focus {
    fill: #FFFFFF;
    background-color: #2196F3;
  }
  .section-aside__link {
    border-radius: 50%;
    background-color: var(--white);
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    transition-duration: 250ms;
  }
  .section-aside__socials {
    width: 20px;
    height: 20px;
  }
  .section-sidebar {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-sidebar__title {
    color: #212121;
    text-align: center;
  }
  .section-sidebar__menu {
    display: -webkit-box;
    margin-top: 50px;
  }
  .section-sidebar__list {
    text-align: center;
    display: inline-table;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .section-sidebar__list:nth-child(2n) {
    margin-right: 0px;
  }
  .section-sidebar__list:nth-child(5) {
    margin-bottom: 0px;
  }
  .section-sidebar__list:nth-child(6) {
    margin-bottom: 0px;
  }
  .section-sidebar__box {
    display: flex;
  }
  .section-sidebar__link {
    display: flex;
    width: 210px;
    height: 94px;
    fill: #AFB1B8;
    background-color: var(--white);
    box-sizing: border-box;
    justify-content: center;
    transition-duration: 250ms;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
  }
  .section-sidebar__link:hover, .section-sidebar__link:focus {
    border: 1px solid #2196F3;
    fill: #2196F3;
    border-radius: 4px;
  }
  .section-widget {
    display: none;
  }
  .backdrop {
    display: none;
  }
  .features {
    display: none;
  }
  .footer {
    background: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    text-align: center;
  }
  /* meta-column */
  .meta-column__logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .meta-column__span {
    color: #2196f3;
  }
  .meta-column__preview {
    margin-top: 20px;
    margin-bottom: 9px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  .meta-column__preview a {
    color: #ffffff;
  }
  .meta-column__list {
    margin-bottom: 9px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .meta-column__list a {
    color: rgba(255, 255, 255, 0.6);
  }
  /* holder-socials */
  .holder-socials {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .holder-socials__title {
    margin-bottom: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .holder-socials__menu {
    flex-direction: row;
    justify-content: center;
    display: flex;
  }
  .holder-socials__item {
    transition-duration: 250ms;
    transition-timing-function: linear;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #3b3d3f;
    justify-content: space-around;
  }
  .holder-socials__item:hover, .holder-socials__item:focus {
    transition-delay: 150ms;
    border-radius: 50%;
    background-color: #2196F3;
  }
  .holder-socials__link {
    justify-content: center;
    width: 44px;
    height: 44px;
    align-items: center;
    display: flex;
  }
  .holder-socials__icon {
    fill: #FFFFFF;
    width: 20px;
    height: 20px;
  }
  /* container-modal */
  .container-modal__title {
    margin-bottom: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .container-modal__text {
    padding: 10px 20px;
    margin-right: 20px;
    color: #f5f4fa;
    display: flex;
    width: 450px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
  .container-modal input::-moz-placeholder {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .container-modal input:-ms-input-placeholder {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .container-modal input::placeholder {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .container-modal__grid {
    display: flexbox;
    flex-direction: row;
    justify-content: center;
  }
  .container-modal__button {
    display: flex;
    margin-top: 30px;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    border: 0px;
    background: #2196f3;
    padding: 10px 32px;
  }
  .container-modal__button:hover {
    cursor: pointer;
  }
  .container-modal__icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
  }
}/*# sourceMappingURL=module.css.map */