html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  /* margin: 0; */
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;

}
.container {
  width: 1200px;
  margin: 0 auto;
 
 
 }
 
/* <!-- Верхня лінія --> */
.line {
  height: 80px;
  border: 1px solid #ececec;
}
.lines {
 
  display: flex;
 
}
.ule {
  align-items: center;
  display: flex;
}
.lines ul {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 0;
  margin-bottom: 0;
}
.lines li {

  padding-right: 50px;
}
.ule li:nth-child(3n) {
  padding-right: 0px;
}

.rt :nth-child(2n) {
  padding-right: 0;
}
.rt {
  margin-left: auto;
}
.line_webstudio {
  padding-right: 94px;
}
.line_studioss li>a {
  color: #212121;
}

.line li>:hover {
  color: #2196F3;
}

.line_studio>:visited {
  color: #2196f3;
}
.line_webstudio {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #212121;
}

.line_webstudi {
  color: #2196f3;
}
.line_portfolioo,
.line_portfolioo,
.line_studios,
.line_studio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.line_mai li>a {
  color: #757575;
}
.line_portfolioo>:visited {
  color: #2196f3;
}

/* <!-- Шапка --> */
/* .cap {
background-image:linear-gradient(rgba(47, 48, 58, 0.4)rgba(47, 48, 58, 0.4))url(../photo/Hero.jpg);
background-position: 20px;
} */

.cap {
 
 /* background-image:linear-gradient(rgba(47, 48, 58, 0.4)rgba(47, 48, 58, 0.4));
 background-image:url(../photo/Hero.jpg);
 background-position: 20px; */
 height: 600px;
 background-color: #2f303a;
}

.capz  {
padding-top: 200px;
text-align: center;

}

.cap_effektivnost {
  margin-right: auto;
  margin-left: auto;
 margin-top: 0;
 margin-bottom: 30px;
   width: 692px;
  height: 120px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.cap_effektivnost {}

.cap_zakazat {

  color: #ffffff;
  background: #2f303a;
  padding: 10px 32px;
}

.cap_zakazat:hover {

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* <!-- особливості --> */
.ocobluvi {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 94px;
  padding-left: 5px;
  display: flex;
}

.osobennosti_warning {
  margin-bottom: 10px;
}
.ocobluvi li{
  padding-right: 30px;
}

.ocobluvi li:last-child {
  padding-right: 0;
}
.ocobluvi>li {
  outline: color rgb(155, 7, 7);
}


.osobennosti_warning {
  width: 270px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.osobennosti_idea {
  width: 270px;
  height: 72px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* <!-- чим ми займаємося  --> */
.what_we_do {
  text-align: center;
}
.what_we>li {
  padding-right: 30px;
}
.what_we li:last-child {
  padding-right: 0px;
}
.what_we {
  display: flex;
}
.what_we_do {
  padding-top: 118px;
padding-bottom: 50px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}
/* <!-- Наша команда --> */
.our_times {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 50px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.05em;
  color: #212121;
}
.our_t {
  min-width: auto;
}
.our_t {
  margin-top: 0;
  margin-bottom: 0;
}
.our_time li {
  display: inline-block;
margin-right: 30px;
}
.our_time li:last-child{
  margin-right: 0px;
}
.our_time {
  background: #f5f4fa;
  height: 648px;
  
}
.our_time_q {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.ur_time__r {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  padding-top: 10px;
  font-family: "Roboto";
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.our_time li {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}


/* <!-- нижня лінія --> */
.bottom_lin {
  padding-top: 60px;
}
.bottom_line {
  height: 252px;
  background: #2f303a;
}

.webstudio {

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff !important;
}

.webstudi {
  color: #2196f3;
}

.bottom_line_addres {
padding-top: 20px;
padding-bottom: 9px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.bottom_line_telefon a {
  color: rgba(255, 255, 255, 0.6);
}

.bottom_line_mail a {
  color: rgba(255, 255, 255, 0.6);
}

.bottom_line_addres a {
  color: #ffffff;
}

.bottom_line_mail {
padding-bottom: 9px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.bottom_line_telefon {

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* портфолія */
/* секция кнопка */

.button li {
  display: inline;
 padding-right: 8px;
}
.button li:last-child {
 padding-right: 0px;
}
.button_s {
  color: #FFFFFF;
  background: #2196F3;
}
.button:focus {
  background: #F5F4FA;
}
.buttona {
 padding-left: 25px;
 padding-right: 25px;
padding-top: 6px;
padding-bottom: 6px;
outline: none;
}
.button {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 94px;
  margin-top: 0;
  margin-bottom: 0;
  outline: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  
}

.button li>:hover {
  background: #2196F3;
  color: #FFFFFF;
}

/* секция портфолія */

.tech {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 4px;
padding-left: 24px;
  font-family: 'Roboto';
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.techer {
  padding-left: 24px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.technocrat_e .poster:nth-child(3n) {
margin-right: 0;
}
.technocrat_e .poster:nth-child(-n + 3) {
  margin-top: 0px;
}
.technocrat_e .poster {
 margin-right: 30px;
 margin-top: 30px;
 
 width: 370px;
height: 404px;
  list-style: none;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}
.technocrat_e{
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
padding-bottom: 114px;
}

