@media  screen and (min-width: 1200px) {
 
.section-aside {
  background: #f5f4fa;
  padding-top: 94px;
   padding-bottom: 94px;
 &__title {
  margin-bottom: 50px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.05em;
 }
   &__img {
    width:270px;
  }
  &__menu {
    display: -webkit-box;}
    &__item {
      margin-right: 10px;
      }
      &__item:last-child {
        margin-right: 0px;
        }
        &__list {
          margin-right: 30px;
        }
        &__list:last-child {
          margin-right: 0px;
          }
}
}

@media  screen and (min-width: 768px)and(max-width: 1199px) {
  .section-aside {
  background: #f5f4fa;
  padding-top: 60px;
   padding-bottom: 60px;
  align-items: center;
  &__title {
    margin-bottom: 30px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    line-height: 2.1;
    letter-spacing: 0.05em;
   }
   &__img {
    width:auto;
  }
  &__menu {
    text-align: center;
  }

    &__item {
      margin-right: 10px;
 
      }
      &__item:last-child {
        margin-right: 0px;
        }
        &__list {
        
         margin-bottom: 30px;
         margin-right: 30px;
          width: 352px;
           
        }
        &__list:last-child {
          margin-right: 0px;
          }
          &__list:nth-child(2){
            margin-right: 0px;
          }
          &__list:nth-child(3){
            margin-bottom: 0;
          }
          &__list:nth-child(4){
            margin-bottom: 0;
          }
        }

}
@media  screen and (min-width: 320px)and (max-width: 480px) {
  
  .section-aside {
  padding-top: 30px;
  padding-bottom: 30px;
  &__title {
   margin-bottom: 30px;
   font-family: "Roboto";
   font-weight: 700;
   font-size: 28px;
   line-height: 1.8;
   letter-spacing: 0.05em;
  }
  &__img {
   width:250px;
 }
 &__list {
   margin-bottom: 20px;
   width: 250px;
   &:last-child {
     margin-bottom: 0;
   }
 }

}
}

@media  screen and (min-width: 480px)and (max-width: 767px) {

  
  .section-aside {
  padding-top: 60px;
   padding-bottom: 60px;
   &__title {
    margin-bottom: 30px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    line-height: 1.8;
    letter-spacing: 0.05em;
   }
   &__img {
    width:450px;
  }
  &__list {
    margin-bottom: 30px;
    width: 450px;
    &:last-child {
      margin-bottom: 0;
    }
  }

}
}

.section-aside {
  background: #f5f4fa;
  

&__title {
text-align: center;

color: #212121;
}
&__menu {

margin-top: 0;
margin-bottom: 0;
}
&__list {
background: #ffffff;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;



display: inline-block;
}

&__box {
padding-bottom: 30px;
padding-top: 30px;

}
&__subtitle {
margin-top: 0;
margin-bottom: 0;
font-family: "Roboto";
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
&__text {
margin-top: 10px;
margin-bottom: 16px;
font-family: "Roboto";
font-weight: 400;
font-size: 16px;
line-height: 1.18 ;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
&__items {
margin: 0;
padding: 0;
justify-content: center;
align-items: center;
margin: 0;
display: flex;
list-style: none ;
}

&__item >&__link:hover ,
&__item > &__link:focus{
fill: #FFFFFF;;
background-color: #2196F3;

}
&__link {
border-radius: 50%;
background-color: var(--white);
height: 44px;
width: 44px;
display: flex;
justify-content: center;
align-items: center;
fill: #AFB1B8;;
transition-duration: 250ms;
}
&__socials {
width: 20px;
height: 20px;
}
}